*{
    box-sizing: border-box;
  }
  
  *{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
  }
  
  
  h1{
    text-align: center;
    border: 3px solid #20587e;
  
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color:#266a97;
    font-size: 25px;
    letter-spacing: 20px;
    word-spacing: 20px;
    font-weight: 100;
    text-transform: uppercase;
  
  }
  
  form{
  
    background-color: #b9c4ca;
    border: 1px solid #20587e;
    text-align: left;
    margin: 5px;
    padding: 5px;
    
      }
      
      label {
        color: rgb(7, 6, 83); 
        border: 10px;
        
   }
   
   input {
       color: rgb(18, 17, 112);
       background-color: #ebebeb;
       border: 2px;
  
   }
  
   img{
    width: 150px;
    margin: 5px;
    border: 1px solid #20587e;
    float: right; 
  }
  
  #cuerpo {
    margin: 90px 20px;
    padding: 30px 10px;
    border: 2px;
    display: block;
    width: 100%;
    float: left;
    width: 50%;
    text-align: justify;
  }
  
  h6 {
    color: rgb(223, 47, 16);
    margin: 1px 40px;
    padding: 1px;
  }
  
  #Expericencia-laboral {
    color: rgb(196, 51, 26);
   
  }
  
  ul {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
   
  }
  
  li{
    color: #05263d;
    margin: 10px;
    padding: 10px;
  }